/* font-family: 'Inter', sans-serif; */
/* font-family: 'Mulish', sans-serif; */
/* font-family: 'Playfair Display', serif; */

* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

/* Header */

header {
    width: 100%;
    height: 218px;
    position: fixed;
    top: 0;
    z-index: 10;
    background-color: #FFFFFF;
}

.header__content {
    display: flex;
    flex-wrap: wrap;
    justify-content: space-between;
    position: relative;
    top: 54px;
    width: 1120px;
    line-height: 60px;
    margin-left: auto;
    margin-right: auto;
    align-items: center;
}

.header__images {
    position: relative;
}

.header__images-logo-verde {
    position: relative;
    top: 10px;
}

.header__images-logo-laranja {
    position: absolute;
    z-index: 1;
    left: 10.25px;
    top: 20.25px;
}

.header__navegation {
    display: flex;
    flex-wrap: wrap;
    justify-content: space-between;
}

.header__nav-home {
    font-size: 16px;
    font-family: 'Inter', sans-serif;
    font-weight: 500;
    line-height: 19px;
    color: #202336;
    text-decoration: none;
}

.header__nav-item {
    font-size: 16px;
    font-family: 'Inter', sans-serif;
    font-weight: 400;
    line-height: 19px;
    color: #B8BECD;
    text-decoration: none;
    margin-left: 34px;
}

.header__buttons {
    display: flex;
    align-items: center;
}

.header__buttons-login {
    display: block;
    width: 132px;
    height: 44px;
    font-size: 15px;
    line-height: 44px;
    text-align: center;
    font-family: 'Inter', sans-serif;
    font-weight: 500;
    color: #FB8F1D;
    text-decoration: none; 
    border: 1px solid #FB8F1D;
    border-radius: 8px;
    margin-left: 34px;
}

.header__buttons-register {
    display: block;
    width: 132px;
    height: 44px;
    font-size: 15px;
    line-height: 44px;
    text-align: center;
    font-family: 'Inter', sans-serif;
    font-weight: 500;
    color: #FFFFFF;
    background-color: #FB8F1D;
    text-decoration: none; 
    border: 1px solid #FB8F1D;
    border-radius: 8px;
    margin-left: 18px;
}

/* Main */

main {
    width: 1120px;
    position: relative;
    top: 218px;
    margin-left: auto;
    margin-right: auto;
}

/* Hero */

.hero {
    display: flex;
    flex-wrap: wrap;
    justify-content: space-between;
    align-items: center;
    margin-bottom: 290px;
}

.hero__content {
    width: 42%;
}

.hero__title {
    font-size: 64px;
    font-family: 'Playfair Display', serif;
    font-weight: 700;
    line-height: 80px;
    color: #202336;
    margin-bottom: 74px;
}

.hero__subtitle {
    font-size: 27px;
    font-family: 'Inter', sans-serif;
    font-weight: 600;
    line-height: 27px;
    color: #202336;
    margin-bottom: 21px;
}

.hero__detail {
    width: 32px;
    height: 2px;
    background-color: #202336;
    margin-bottom: 48px;
}

.hero__form {
    display: flex;
    flex-wrap: wrap;
    justify-content: space-between;
    margin-bottom: 12px;
}

.hero__form-item {
    width: calc(50% - 15px);
    margin-bottom: 35px;
    font-size: 15px;
    font-family: 'Inter', sans-serif;
    font-weight: 400;
    padding-top: 14.5px;
    padding-bottom: 14.5px;
    padding-left: 31px;
    border-radius: 6px;
    background-color: #FFFFFF;
}

.hero__button {
    font-size: 15px;
    font-family: 'Mulish', sans-serif;
    font-weight: 700;
    line-height: 52px;
    text-align: center;
    text-decoration: none;
    display: block;
    width: 180px;
    color: #FFFFFF;
    background-color: #FB8F1D;
    border-radius: 8px;
}
.hero__img-container {
    width: 50%;
}

.hero__img {
    width: 554px;
    height: 527px;
}

/* ELEMENTS */

.hero__element1 {
    width: 20px;
    height: 20px;
    position: absolute;
    top: 21px;
    left: 417px;
}

.hero__element2 {
    width: 26px;
    height: 26px;
    position: absolute;
    top: 296px;
    left: -135px;
}

.hero__element3 {
    width: 20px;
    height: 20px;
    position: absolute;
    top: 584px;
    left: 491px;
}

.info__element1 {
    width: 20px;
    height: 20px;
    position: absolute;
    top: 782px;
    left: 604px;
}

.info__element2 {
    width: 20px;
    height: 20px;
    position: absolute;
    top: 1100px;
    left: 984px;
}

.destinations__element1 {
    width: 20px;
    height: 20px;
    position: absolute;
    top: 1510px;
    left: 930px;
}

.destinations__element2 {
    width: 20px;
    height: 20px;
    position: absolute;
    top: 2022px;
    left: 503px;
}

/* Info */

.info {
    display: flex;
    flex-wrap: wrap;
    justify-content: space-between;
    margin-bottom: 213px;
}

.info__img-container {
    width: 50%
}

.info__img {
    width: 577px;
    height: 468px;
}

.info__content {
    width: 40%;
}

.info__title {
    font-size: 36px;
    font-family: 'Playfair Display', serif;
    font-weight: 700;
    line-height: 50px;
    color: #000000;
    margin-bottom: 20px;
}

.info__text {
    font-size: 17px;
    font-family: 'Mulish', sans-serif;
    font-weight: 300;
    line-height: 30px;
    color: #7D7987;
    margin-bottom: 39px;
}

.info__button {
    display: block;
    width: 164px;
    height: 48px;
    font-size: 16px;
    font-family: 'Inter', sans-serif;
    font-weight: 600;
    line-height: 48px;
    text-align: center;
    color: #FFFFFF;
    background-color: #FB8F1D;
    border-radius: 8px;
}

/* DESTINATIONS */

.destinations {
    position: relative;
    margin-bottom: 246px;
}

.destinations__intro {
    display: flex;
    flex-wrap: wrap;
    justify-content: space-between;
    margin-bottom: 50px;
}

.destinations__title {
    font-size: 36px;
    font-family: 'Playfair Display', serif;
    font-weight: 700;
    line-height: 50px;
    color: #000000;
}

.destinations__view-all{
    font-size: 17px;
    font-family: 'Inter', sans-serif;
    font-weight: 600;
    line-height: 60px;
    color: #FB8F1D;
    text-decoration: none;
}

.destinations__cards {
    display: flex;
    flex-wrap: wrap;
    justify-content: space-between;
    margin-bottom: 50px;
}

.destinations__img {
    border-radius: 8px;
}
.destinations__card {
    position: relative;
}

.destinations__id {
    width: 120px;
    height: 56px;
    background-color: #FFFFFF;
    border-radius: 8px;
    padding-top: 11px;
    padding-right: 22px;
    position: absolute;
    bottom: 0;
    left: -6px;
    padding-left: 4px;
}

.destinations__id-title {
    font-size: 17px;
    font-family: 'Inter', sans-serif;
    font-weight: 600;
    line-height: 25px;
    color: #042521;
}

.destinations__id-subtitle {
    font-size: 15px;
    font-family: 'Inter', sans-serif;
    font-weight: 500;
    line-height: 24px;
    color: #80918E;
}





































